.footer {
    padding-top: 4rem;
    background-color: var(--color-three);
}

.footer__summary {
    padding-right: 6rem;
}

.summary__title {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--color-one);
    padding-bottom: 1rem;
}

.summary__content {
    color: var(--color-one);
    padding-bottom: 2rem;
    font-weight: 400;
}

.summary-social {
    display: flex;
}

.summary-social__item {
    height: 3.4rem;
    width: 3.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--color-one);
    background-color: #3ADAD8;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

.quick__head,
.service__head,
.subscribe__head
{
    font-size: 2.4rem;
    font-weight: 700;
    color: #fff;
    padding-bottom: 1rem;
}

.quick__link a,
.service a{
    color: #fff;
}

.subscribe__input{
    display: flex;
    color: #fff;   
    border-radius: 0.5rem;
    overflow: hidden;
}

.subscribe__input input {
    padding: 1rem 3rem;
    color: var(--color-text);
    font-weight: 600;
    border: none;
}

.subscribe__input input:focus {
    outline: none;
}

.subscribe__search {
    background-color: #3ADAD8;
    font-size: 3.2rem;
    padding: 0.5rem 1.6rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.copyright{
    padding-top: 7rem;
    text-align: center;
    color: var(--color-one);
}