.header {
    background-color: var(--color-three);
    position: relative;
}

.nav {
    justify-content: space-between;
    align-items: center;
    height: 11.6rem   ;
}

.menu ,
.menu ul {
    display: flex;
    margin: 0;
}

.menu {
    justify-content: space-between;
    align-items: center;
    width: 76.6rem;
    max-width: 76.6rem;
}

.menu ul {
    align-items: center;
}

.menu__item {
    padding: 1.8rem;
}

.menu__btn {
    text-align: center;
    background-color: #6DB3F9;
    padding: 1.6rem 4.6rem;
    border-radius: 1rem;
    color: var(--color-two);
}

/* body */

.body {
    position: relative;
}

/* end body */

.inner-search {
    display: flex;
    width: 85%;
    margin: 2rem auto;
    background-color: white;
    box-shadow: 0px 0px 10px #00000016;
    justify-content: space-between;
    border-radius: 5px;
}

.inner-search__item {
    padding: 3rem 2rem;
    position: relative;
}

.inner-search__item label {
    font-weight: 700;
}

.inner-search__item i {
    color: #FAA757;
    margin-right: 0.8rem;
}

.inner-search__item input {
    border: none;
    width: 100%;
}

.inner-search__item input:focus{
    outline: none;
}

.inner-search__item:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6DB3F9;
    padding: 3rem 5rem;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.details {
    position: absolute;
    top: 110%;
    width: 140%;
    left: -20%;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 10px #00000037;
    z-index: 3;
    border-radius: 10px;
    display: none;
}

.details .row {
    align-items: center;
    justify-content: space-around;
    padding-bottom: 1rem;
}

.adult-quality {
    justify-content: space-between;
}

.adult-quality__up,
.adult-quality__value,
.adult-quality__down {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.4rem;
    height: 4.4rem;
}

.adult-quality__up,
.adult-quality__down {
    cursor: pointer;
}

.details__done {
    width: 80%;
}

/* Section Two */

.section-two {
    padding: 8rem 0;
}

.room {
    box-shadow: 0 0 5rem #00000053;
    border-radius: 2rem;
}



.room__img {
    width: 80%;
    background-position: center center;
    object-fit: contain;
    display: block;
}


.section-two table {
    width: 80%;
    font-size: 1.8rem;
}

.section-two table th {
    color: var(--color-three);
}

.section-two table td {
    color: var(--color-text);
}


.section-two table th,
.section-two table td
{
    border: 0.2rem solid var(--color-text);
    padding: 1rem;
}

.section-two table tr {
    text-align: center;
}

.room__btn {
    width: 100%;
}

.room__btn div {
    display: inline-block;
    padding: 1rem;
    border-radius: 2rem;
    max-width: 50%;
    min-width: 40%;
    background-color: #6DB3F9;
    color: #fff;
}

.room__desc {
    font-size: 1.8rem;
    padding: 2rem;
    color: var(--color-text);
}

/*End Section Two */

/* Modal */
 .modalApp {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
 }

 .modalApp__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000036;
 }

 .modalApp__content {
    margin: auto;
    position: relative;
 }

 .modalApp__box {
    width: 70rem;
    background-color: #fff;
    border-radius: 2rem;
 }

/*End  Modal */

/* Form */

.FormContainer__close {
    display: flex;  
    justify-content: center;
    border: 0.2rem solid var(--color-text);
    position: absolute;
    right: 4rem;
    border-radius: 50%;
    font-size: 2.8rem;
    width: 4rem;
    height: 4rem;
}

.FormContainer__close span {
    line-height: 1;
}

.FormContainer__header {
    text-align: center;
}

.FormContainer__heading {
    font-size: 2.8rem;
    padding-bottom: 2rem;
}

.FormContainer {
    padding: 2rem 4rem;
}

.FormContainer__input {
    text-align: center;
}

.FormContainer__input label {
    font-size: 1.8rem;
}

.FormContainer__input input {
    padding: 0.5rem 1rem;
    min-width: 70%;
    text-align: center;
}

.FormContainer__item {
    padding-bottom: 1rem;
}

.FormContainer__btn {
    border: none;
    background-color: transparent;
    padding-top: 2rem;
}

.FormContainer__btn span{
    display: inline-block;
    background-color: #6DB3F9;
    min-width: 40%;
    padding: 0.6rem 0;
    border-radius: 2rem;
}

/* End Form */