.adminPage .sidebar-list-header {
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--primary-color);
}

.adminPage .sidebar {
    border-right: 2px solid var(--primary-color);
}


.adminPage .sidebar-list .sidebar-item {
    transition: color 0.3s ease;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 6px 0 6px 8px;
}

.adminPage .sidebar-list .sidebar-item:hover {
    color: var(--primary-color);
}