<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/base.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="/assets/font/fontawesome-free-6.4.2-web/css/all.min.css">
</head>
<body>
    <div id="root">
        <div class="header container">
            <div class="nav row">
                <div class="logo">
                    <img src="./assets/img/logo/logo.ico" alt="">
                </div>
                <div class="menu">
                    <ul>
                        <li class="menu__item">Home</li>
                        <li class="menu__item">Roome</li>
                        <li class="menu__item">Services</li>
                        <li class="menu__item">Blog</li>
                        <li class="menu__item">Contact Us</li>
                    </ul>
                    <div class="menu__btn">Sign up</div>
                </div>
            </div>
        </div>
        <div class="body">
            <div class="section-one">
                <div class="inner-wrap">
                    <div class="container">
                        <div class="row inner-box">
                            <div class="inner-wrap col-xl-6">
                                <div class="inner-title text-lg">Make yourself at hom in <span>Our</span> hotel</div>
                                <div class="inner-desc text-sm">Simple - unique - friendly</div>
                                <div class="inner-btn">
                                    <div class="btn-search">Find a hotel</div>
                                    <div class="btn-watch">
                                        <i class="fa-solid fa-play"></i>
                                        <span>Watch video</span>
                                    </div>
                                </div>
                            </div>
                            <div class="inner-wrap col-xl-6">
                                <img  class="inner-img" src="./assets/img/background/backrground1.png" alt="">
                            </div>
                        </div>
                    </div>  
                </div>            
                <div class="inner-search">
                    <div class="inner-search__item">
                        <label for="location">
                            <i class="fa-solid fa-location-dot"></i>
                            <span>Location</span>
                        </label>
                        <input type="text" id="location" name="location">
                    </div>
                    <div class="inner-search__item">
                        <label for="check-in">
                            <i class="fa-regular fa-calendar"></i>
                            <span>Check-in</span>
                        </label>
                        <input type="text" id="location" name="location">
                    </div>
                    <div class="inner-search__item">
                        <label for="location">
                            <i class="fa-regular fa-calendar"></i>
                            <span>Check-out</span>
                        </label>
                        <input type="text" id="location" name="location">
                    </div>
                    <div class="inner-search__item">
                        <label for="person">
                            <i class="fa-solid fa-user"></i>
                            <span>Person</span>
                        </label>
                        <input type="text" id="person" name="person">
                        <div class="details">
                            <div class="row">
                                <div class="adult">
                                    Nguoi lon
                                </div>
                                <div class="adult-quality row">
                                    <div class="adult-quality__up"><span>-</span></div>
                                    <div class="adult-quality__value"><span>0</span></div>
                                    <div class="adult-quality__down"><span>+</span></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="adult">
                                   Trem em
                                </div>
                                <div class="adult-quality row">
                                    <div class="adult-quality__up"><span>-</span></div>
                                    <div class="adult-quality__value"><span>0</span></div>
                                    <div class="adult-quality__down"><span>+</span></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="btn details__done">
                                    Xong
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="inner-search__item">
                        <span>Search...</span>
                    </div>
                </div>
            </div>
            <div class="section-two container">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="inner-img">
                            <img src="./assets/img/background/backrground2.png" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="inner-box">
                            <div class="inner-box__title">
                                About us
                            </div>
                            <div class="inner-title text-md">
                                The best holidays start <span>here.</span>
                            </div>
                            <div class="inner-desc text">There are many variations of passages of Lorem Ipsum avalibale, but in form, by injected humour, of Lorem Ipsum available, but in form. There</div>
                            <div class="inner-btn btn">Read more</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-three">
                <div class="container">
                    <div class="inner-title text-md">Our Rooms</div>
                    <div class="inner-desc text">Enjoy our array of amenites for a relaxing stay</div>
                    <div class="row"> 
                        <div class="col-xl-4">
                            <div class="room">
                                <img class="room__img" src="./assets/img/background/background3.png" alt="">
                                <div class="room-content">
                                    <span>
                                        <div class="room-content__name text-sm">Standard Room</div>
                                        <div class="room-content__price">
                                            <span>$ 96</span>
                                            <span>/</span>
                                            <span class="text p-none">Night</span></div>
                                    </span>
                                    <div class="room-content__intro text">
                                        La mot khach san day du tien ghi va thoai mai rat phu hop cho nguoi kha gia
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="room">
                                <img class="room__img" src="./assets/img/background/background3.png" alt="">
                                <div class="room-content">
                                    <span>
                                        <div class="room-content__name text-sm">Standard Room</div>
                                        <div class="room-content__price">
                                            <span>$ 96</span>
                                            <span>/</span>
                                            <span class="text p-none">Night</span></div>
                                    </span>
                                    <div class="room-content__intro text">
                                        La mot khach san day du tien ghi va thoai mai rat phu hop cho nguoi kha gia
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="room">
                                <img class="room__img" src="./assets/img/background/background3.png" alt="">
                                <div class="room-content">
                                    <span>
                                        <div class="room-content__name text-sm">Standard Room</div>
                                        <div class="room-content__price">
                                            <span>$ 96</span>
                                            <span>/</span>
                                            <span class="text p-none">Night</span></div>
                                    </span>
                                    <div class="room-content__intro text">
                                        La mot khach san day du tien ghi va thoai mai rat phu hop cho nguoi kha gia
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-four">
                <div class="container">
                    <div class="inner-title text-lg p-none">Just follow our Steps and Get Everything</div>
                    <div class="row">
                        <div class="col-xl-8">
                            <div class="inner-desc text">There are many variations of passages of Lorem Ispum available, but in from, by injected houmour,</div>
                            <ul class="advantage-list">
                                <li class="advantage-list__item">
                                    <div class="advantage-list__index"><span>01</span></div>
                                    <div class="advantage-content">
                                        <div class="advantage-content__title text-sm p-none">Find a Hotel Your Want to Visit</div>
                                        <div class="advantage-content__desc text p-none">Visit our Website and Browser your hotel, you can asved and ready to book</div>
                                    </div>
                                </li>
                                <li class="advantage-list__item">
                                    <div class="advantage-list__index"><span>02</span></div>
                                    <div class="advantage-content">
                                        <div class="advantage-content__title text-sm p-none">Find a Hotel Your Want to Visit</div>
                                        <div class="advantage-content__desc text p-none">Visit our Website and Browser your hotel, you can asved and ready to book</div>
                                    </div>
                                </li>
                                <li class="advantage-list__item">
                                    <div class="advantage-list__index"><span>03</span></div>
                                    <div class="advantage-content">
                                        <div class="advantage-content__title text-sm p-none">Find a Hotel Your Want to Visit</div>
                                        <div class="advantage-content__desc text p-none">Visit our Website and Browser your hotel, you can asved and ready to book</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xl-4">
                            <div class="inner-img">
                                <img src="./assets/img/background/background4.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer__summary col-xl-4">
                        <div class="summary">
                            <div class="summary__title">HOUSEHOTEL</div>
                            <div class="summary__content">La mot khach san rat dang trai nghiem mang lai nhieu cam giac thu vi cho khach hang</div>
                            <ul class="summary-social">
                                <li class="summary-social__item">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </li>
                                <li class="summary-social__item">
                                    <i class="fa-brands fa-instagram"></i>
                                </li>
                                <li class="summary-social__item">
                                    <i class="fa-brands fa-twitter"></i>
                                </li>
                                <li class="summary-social__item">
                                    <i class="fa-brands fa-youtube"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer__quick col-xl-2">
                        <div class="quick">
                            <div class="quick__head">Quick Links</div>
                            <ul>
                                <li class="quick__link"><a href="">Home</a></li>
                                <li class="quick__link"><a href="">Room</a></li>
                                <li class="quick__link"><a href="">About Us</a></li>
                                <li class="quick__link"><a href="">Gellery</a></li>
                                <li class="quick__link"><a href="">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2">
                        <div class="service">
                            <div class="service__head">Services</div>
                            <ul>
                                <li class="service__link"><a href="">Restaurent</a></li>
                                <li class="service__link"><a href="">Swimming poll</a></li>
                                <li class="service__link"><a href="">Transport</a></li>
                                <li class="service__link"><a href="">Privacy Policy</a></li>
                                <li class="service__link"><a href="">Term & Condition</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="subscribe">
                            <div class="subscribe__head">
                                Subscribe Now !
                            </div>
                            <div class="subscribe__input">
                                <input type="text" placeholder="Hotel@example.com">
                                <div class="subscribe__search">
                                    <i class="fa-solid fa-paper-plane"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    Copyright@2021 ---- All Rights reserved
                </div>
            </div>
        </div>
    </div>
</body>
</html>