<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/base.css">
    <link rel="stylesheet" href="./assets/css/listhotel.css">
    <link rel="stylesheet" href="/assets/font/fontawesome-free-6.4.2-web/css/all.min.css">
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="nav row">
                <div class="logo">
                    <img src="./assets/img/logo/logo.ico" alt="">
                </div>
                <div class="menu">
                    <ul>
                        <li class="menu__item">Home</li>
                        <li class="menu__item">Roome</li>
                        <li class="menu__item">Services</li>
                        <li class="menu__item">Blog</li>
                        <li class="menu__item">Contact Us</li>
                    </ul>
                    <div class="menu__btn">Sign up</div>
                </div>
            </div>
        </div>
            
    </div>
    <div class="body">
        <div class="section-one">
            <div class="inner-search">
                <div class="inner-search__item">
                    <label for="location">
                        <i class="fa-solid fa-location-dot"></i>
                        <span>Location</span>
                    </label>
                    <input type="text" id="location" name="location">
                </div>
                <div class="inner-search__item">
                    <label for="check-in">
                        <i class="fa-regular fa-calendar"></i>
                        <span>Check-in</span>
                    </label>
                    <input type="text" id="location" name="location">
                </div>
                <div class="inner-search__item">
                    <label for="location">
                        <i class="fa-regular fa-calendar"></i>
                        <span>Check-out</span>
                    </label>
                    <input type="text" id="location" name="location">
                </div>
                <div class="inner-search__item">
                    <label for="person">
                        <i class="fa-solid fa-user"></i>
                        <span>Person</span>
                    </label>
                    <input type="text" id="person" name="person">
                    <div class="details">
                        <div class="row">
                            <div class="adult">
                                Nguoi lon
                            </div>
                            <div class="adult-quality row">
                                <div class="adult-quality__up"><span>-</span></div>
                                <div class="adult-quality__value"><span>0</span></div>
                                <div class="adult-quality__down"><span>+</span></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="adult">
                               Trem em
                            </div>
                            <div class="adult-quality row">
                                <div class="adult-quality__up"><span>-</span></div>
                                <div class="adult-quality__value"><span>0</span></div>
                                <div class="adult-quality__down"><span>+</span></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="btn details__done">
                                Xong
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inner-search__item">
                    <span>Search...</span>
                </div>
            </div>
        </div>
        <div class="section-two">
            <div class="container">
                <ul class="row">
                    <li class="col-xl-12">
                        <div class="hotel editing row">
                            <div class="col-xl-4 align-self-center">
                                <div class="hotel__img">
                                    <input type="file" accept="image/png, image/jpeg">
                                    <i class="fa-solid fa-cloud-arrow-up d-block"  ></i>
                                    <img src="" alt="" class="d-none">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="inner-wrap">
                                    <input type="text" placeholder="Enter name" class="hotel__name">
                                    <div class="hotel__city">
                                        <i class="fa-solid fa-city"></i>
                                        <span>
                                            <input type="text" placeholder="Enter city">
                                        </span>
                                    </div>
                                    <div class="hotel__address">
                                        <i class="fa-solid fa-map"></i>
                                        <span>
                                            <input type="text" placeholder="Enter address">
                                        </span>
                                    </div>
                                    <textarea rows="3" cols="50" class="hotel__desc">
                                        
                                    </textarea>
                                </div>
                            </div>
                            <div class="col-xl-2 align-self-center">
                                <div class="hotel__btn">
                                    <a href="#">Xac nhan</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-xl-12">
                        <div class="hotel row">
                            <div class="col-xl-4">
                                <div class="hotel__img">
                                    <img src="./assets/img/hotel/hotel1.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="inner-wrap">
                                    <div class="hotel__name">
                                        Leo's Homestay Phan Rang
                                    </div>
                                    <div class="hotel__city">
                                        <i class="fa-solid fa-city"></i>
                                        <span>Nha Trang</span>
                                    </div>
                                    <div class="hotel__address">
                                        <i class="fa-solid fa-map"></i>
                                        <span>so 4, duong 628, TP. NHA TRANG</span>
                                    </div>
                                    <div class="hotel__desc">
                                        Thanh pho Nha Trang la mot thanh pho voi nhung bai bien dep. Den day ban se duoc trai nghiem nhieu dich du ma chang noi nao co the co duoc
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 align-self-center">
                                <div class="hotel__btn">
                                    <a href="#">Xem chi tiet</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-xl-12">
                        <div class="hotel row">
                            <div class="col-xl-4">
                                <div class="hotel__img">
                                    <img src="./assets/img/hotel/hotel1.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="inner-wrap">
                                    <div class="hotel__name">
                                        Leo's Homestay Phan Rang
                                    </div>
                                    <div class="hotel__city">
                                        <i class="fa-solid fa-city"></i>
                                        <span>Nha Trang</span>
                                    </div>
                                    <div class="hotel__address">
                                        <i class="fa-solid fa-map"></i>
                                        <span>so 4, duong 628, TP. NHA TRANG</span>
                                    </div>
                                    <div class="hotel__desc">
                                        Thanh pho Nha Trang la mot thanh pho voi nhung bai bien dep. Den day ban se duoc trai nghiem nhieu dich du ma chang noi nao co the co duoc
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 align-self-center">
                                <div class="hotel__btn">
                                    <a href="#">Xem chi tiet</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-xl-12">
                        <div class="hotel row">
                            <div class="col-xl-4">
                                <div class="hotel__img">
                                    <img src="./assets/img/hotel/hotel1.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="inner-wrap">
                                    <div class="hotel__name">
                                        Leo's Homestay Phan Rang
                                    </div>
                                    <div class="hotel__city">
                                        <i class="fa-solid fa-city"></i>
                                        <span>Nha Trang</span>
                                    </div>
                                    <div class="hotel__address">
                                        <i class="fa-solid fa-map"></i>
                                        <span>so 4, duong 628, TP. NHA TRANG</span>
                                    </div>
                                    <div class="hotel__desc">
                                        Thanh pho Nha Trang la mot thanh pho voi nhung bai bien dep. Den day ban se duoc trai nghiem nhieu dich du ma chang noi nao co the co duoc
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 align-self-center">
                                <div class="hotel__btn">
                                    <a href="#">Xem chi tiet</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-xl-12">
                        <div class="hotel row">
                            <div class="col-xl-4">
                                <div class="hotel__img">
                                    <img src="./assets/img/hotel/hotel1.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="inner-wrap">
                                    <div class="hotel__name">
                                        Leo's Homestay Phan Rang
                                    </div>
                                    <div class="hotel__city">
                                        <i class="fa-solid fa-city"></i>
                                        <span>Nha Trang</span>
                                    </div>
                                    <div class="hotel__address">
                                        <i class="fa-solid fa-map"></i>
                                        <span>so 4, duong 628, TP. NHA TRANG</span>
                                    </div>
                                    <div class="hotel__desc">
                                        Thanh pho Nha Trang la mot thanh pho voi nhung bai bien dep. Den day ban se duoc trai nghiem nhieu dich du ma chang noi nao co the co duoc
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 align-self-center">
                                <div class="hotel__btn">
                                    <a href="#">Xem chi tiet</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-xl-12">
                        <div class="hotel row">
                            <div class="col-xl-4">
                                <div class="hotel__img">
                                    <img src="./assets/img/hotel/hotel1.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="inner-wrap">
                                    <div class="hotel__name">
                                        Leo's Homestay Phan Rang
                                    </div>
                                    <div class="hotel__city">
                                        <i class="fa-solid fa-city"></i>
                                        <span>Nha Trang</span>
                                    </div>
                                    <div class="hotel__address">
                                        <i class="fa-solid fa-map"></i>
                                        <span>so 4, duong 628, TP. NHA TRANG</span>
                                    </div>
                                    <div class="hotel__desc">
                                        Thanh pho Nha Trang la mot thanh pho voi nhung bai bien dep. Den day ban se duoc trai nghiem nhieu dich du ma chang noi nao co the co duoc
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 align-self-center">
                                <div class="hotel__btn">
                                    <a href="#">Xem chi tiet</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="./assets/js/upLoadImg.js"></script>
</body>
</html>