<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/base.css">
    <link rel="stylesheet" href="./assets/css/room.css">
    <link rel="stylesheet" href="/assets/font/fontawesome-free-6.4.2-web/css/all.min.css">
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="nav row">
                <div class="logo">
                    <img src="./assets/img/logo/logo.ico" alt="">
                </div>
                <div class="menu">
                    <ul>
                        <li class="menu__item">Home</li>
                        <li class="menu__item">Roome</li>
                        <li class="menu__item">Services</li>
                        <li class="menu__item">Blog</li>
                        <li class="menu__item">Contact Us</li>
                    </ul>
                    <div class="menu__btn">Sign up</div>
                </div>
            </div>
        </div>    
    </div>
    <div class="body">
        <div class="section-two">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="room">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="inner-search">
                                        <div class="inner-search__item">
                                            <label for="location">
                                                <i class="fa-solid fa-location-dot"></i>
                                                <span>Location</span>
                                            </label>
                                            <input type="text" id="location" name="location">
                                        </div>
                                        <div class="inner-search__item">
                                            <label for="check-in">
                                                <i class="fa-regular fa-calendar"></i>
                                                <span>Check-in</span>
                                            </label>
                                            <input type="text" id="location" name="location">
                                        </div>
                                        <div class="inner-search__item">
                                            <label for="location">
                                                <i class="fa-regular fa-calendar"></i>
                                                <span>Check-out</span>
                                            </label>
                                            <input type="text" id="location" name="location">
                                        </div>
                                        <div class="inner-search__item">
                                            <label for="person">
                                                <i class="fa-solid fa-user"></i>
                                                <span>Person</span>
                                            </label>
                                            <input type="text" id="person" name="person">
                                            <div class="details">
                                                <div class="row">
                                                    <div class="adult">
                                                        Nguoi lon
                                                    </div>
                                                    <div class="adult-quality row">
                                                        <div class="adult-quality__up"><span>-</span></div>
                                                        <div class="adult-quality__value"><span>0</span></div>
                                                        <div class="adult-quality__down"><span>+</span></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="adult">
                                                       Trem em
                                                    </div>
                                                    <div class="adult-quality row">
                                                        <div class="adult-quality__up"><span>-</span></div>
                                                        <div class="adult-quality__value"><span>0</span></div>
                                                        <div class="adult-quality__down"><span>+</span></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="btn details__done">
                                                        Xong
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="inner-search__item">
                                            <span>Enter</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 room__right d-flex flex-column align-items-center justify-content-center">
                                    <img class="room__img" src="./assets/img/background/background3.png" alt="">
                                </div>
                                <div class="col-xl-6 room__left d-flex flex-column align-items-center">
                                    <table >
                                        <tr>
                                            <th>Room-Type</th>
                                            <th>Room-Price</th>
                                        </tr>
                                        <tr>
                                            <td>Double Room</td>
                                            <td>1200$</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="room__btn">
                                                <div>Booking</div>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="room__desc">
                                        <p>. Can phong chua day du cac tien nghiCan phong chua day du cac tien nghiCan phong chua day du cac tien nghiCan phong chua day du cac tien nghiCan phong chua day du cac tien nghi</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modalApp">
        <div class="modalApp__overlay"></div>
        <div class="modalApp__content">
            <div class="modalApp__box">
                <div class="FormContainer">
                    <div class="FormContainer__close">
                        <span>x</span>
                    </div>
                    <div class="FormContainer__header">
                        <div class="FormContainer__heading">Noi dung dat phong</div>
                    </div>
                    <div class="FormContainer__body">
                        <form action="" class="FormContainer__input row">
                            <div class="col-xl-6 FormContainer__item">
                                <label for="city">Thanh pho</label>
                                <br/>
                                <input type="text" id="city">
                            </div>
                            <div class="col-xl-6 FormContainer__item">
                                <label for="person">Person</label>
                                <br/>
                                <input type="number" id="person">
                            </div>
                            <div class="col-xl-6 FormContainer__item">
                                <label for="checkIn">Check In</label>
                                <br/>
                                <input type="date" id="checkIn">
                            </div>
                            <div class="col-xl-6 FormContainer__item">
                                <label for="checkOut">Check Out</label>
                                <br/>
                                <input type="date" id="checkOut">
                            </div>
                            <div class="col-xl-6 FormContainer__item">
                                <label for="roomType">Room Type</label>
                                <br/>
                                <input type="text" id="roomType">
                            </div>
                            <div class="col-xl-6 FormContainer__item">
                                <label for="price">Price</label>
                                <br/>
                                <input type="text" id="price">
                            </div>
                            <button type="submit" class="FormContainer__btn col-xl-12">
                                <span>Button</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>