.hotelDashBoard .hotelOwnerOverViewThisMonth {
    display: flex;
    flex-direction: column; 
    width: 200px; 
    padding: 20px;
    border-radius: 8px;
    background-color: white; 
    margin-bottom: 20px;
    gap: 20px; 
}

.hotelDashBoard h1 {
    font-size: 1.8rem;
}

.hotelDashBoard .hotelOwnerChartsGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hotelDashBoard .hotelOwnerChartContainer {
    height: 400px;
    width: 700px; 
    padding: 20px;
    text-align: center; 
    background-color: white; 
}

.hotelDashBoard .hotelOwnerOverViewThisMonthItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    width: 180px; 
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.hotelDashBoard .hotelOwnerOverViewInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.hotelDashBoard .hotelOwnerInfoNumber {
    font-size: 28px;
    font-weight: bold;
    margin: 10px 0;
    color: #333;
}

.hotelDashBoard .hotelOwnerInfoText {
    font-size: 16px;
    color: #555;
}

.hotelDashBoard .hotelOwnerOverViewNumber {
    font-size: 18px;
    font-weight: bold;
    color: #28a745; 
}