.bookingManagement h1{
  font-size: 2rem;
}

.bookingManagement .searchRoom-bar {
  margin-bottom: 20px;
}

.bookingManagement .form-label {
  font-size: 1.1rem;
}

.bookingManagement button {
  padding: 8px 16px;
}

.bookingManagement .table {
  min-height: 50vh;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
}

.bookingManagement .table th,
.bookingManagement .table td {
  text-align: center;
  vertical-align: middle;
  border: 1px solid #dee2e6;
  padding: 8px;
}

.bookingManagement .table th {
  background-color: #f8f9fa;
}

.bookingManagement .table td .btn {
  margin-right: 5px;
}

.pagination .page-item.disabled .page-link {
  pointer-events: none;
  opacity: 0.6;
}

.pagination .page-item.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
}
