.hotelRegistration .form {
  width: 100%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hotelRegistration h2 {
  margin-bottom: 20px;
  color: #003580;
}

.hotelRegistration textarea {
  resize: vertical;
}

.hotelRegistration .select-wrapper {
  position: relative;
  width: 100%;
}

.hotelRegistration .select-wrapper::after {
  content: "\\25BC";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.hotelRegistration .postHotelButton:hover {
  background-color: #00214d;
  transform: scale(1.05);
}

.hotelRegistration .selectBar {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
  margin-bottom: 10px;
}