.bookingForm h1 {
  margin-bottom: 25px;
  color: #0071c2;
  font-size: 24px;
  font-weight: bold;
}

.roomImg img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.roomDetail p {
  text-align: left;
  margin: 10px 0;
  font-size: 16px;
  line-height: 1.5;
}

.dateSelection {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 20px;
}

.date {
  position: absolute;
  top: 50px;
  z-index: 100;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 15px;
}

.totalPayment {
  margin: 20px 0;
  font-size: 18px;
  font-weight: bold;
}

.errorMessage {
  color: red;
  margin-bottom: 20px;
}