.addDiscount .modal-header {
    background: var(--primary-color);
}

.addDiscount .modal-header h5 {
    color: var(--white-color);
    font-weight: 700;
    font-size: 1.2rem;
}

.addDiscount .modal-header button {
    color: var(--white-color);
}

.addDiscount .alert {
    margin: 10px 0;
}