.editDiscount .modal-content {
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.editDiscount label {
    width: 100%;
    text-align: start;
}

.editDiscount .modal-header {
    background-color: #f8f9fa;
}

.editDiscount .modal-title {
    font-weight: bold;
}

.editDiscount .modal-body input,
.editDiscount .modal-body textarea {
    border-radius: 5px;
    padding: 10px;
}

.editDiscount .text-danger {
    color: #dc3545;
}

.editDiscount .text-success {
    color: #28a745;
}

.editDiscount .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.editDiscount .btn-close {
    background-color: transparent;
    border: none;
}