.editDiscount .modal-header {
    background: var(--primary-color);
}

.editDiscount .modal-header h5 {
    color: var(--white-color);
    font-weight: 700;
    font-size: 1.2rem;
}

.editDiscount label {
    width: 100%;
    text-align: start;
}

.editDiscount .modal-title {
    font-weight: bold;
}

.editDiscount .modal-body input,
.editDiscount .modal-body textarea {
    border-radius: 5px;
    padding: 10px;
}

.editDiscount .text-danger {
    color: #dc3545;
}

.editDiscount .text-success {
    color: #28a745;
}