.footer {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    font-size: 12px;
    padding: 20px;
    border-top: 1px solid #ccc;
    text-align: center;
  }
  
  .fLists {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .fList {
    flex: 1;
    width: 250px;
    list-style: none;
    padding: 0;
    text-align: start;
  }
  
.fListItemHeader{
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 1rem;
}

  .fListItem {
    margin-bottom: 10px;
    color: #003580;
    cursor: pointer;
    font-size: 0.8rem;
  }
  
  .fText {
    margin-top: 10px;
    color: #555;
  }
  