.roomListTable th,
.roomListTable td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.roomListTable th {
  background-color: #0071c2;
  color: white;
}

.roomListTable td {
  background-color: #fff;
}

.bookButton:hover {
  background-color: #005fa3;
}

.text-danger {
  color: #dc3545;
}

.text-success {
  color: #28a745;
}

.lastTd {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noCreditCard {
  color: #28a745;
}