.hotelInformationManagement .form {
  width: 100%;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hotelInformationManagement h2 {
  font-size: 2rem;
}

.hotelInformationManagement .form-group {
  margin-bottom: 15px;
}

.hotelInformationManagement .form-group input,
.hotelInformationManagement .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.hotelInformationManagement textarea {
  resize: vertical;
}
.hotelInformationManagement .imagePreview {
  width: 100%;
}