.hotelOwnerContainer {
    display: flex;
    justify-content: space-between; 
    padding: 20px;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.hotelOwnerOverViewThisMonth {
    display: flex;
    flex-direction: column; 
    width: 200px; 
    padding: 20px;
    border-radius: 8px;
    background-color: white; 
    margin-bottom: 20px;
    gap: 20px; 
}

.hotelOwnerChartsGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hotelOwnerChartContainer {
    height: 400px;
    width: 700px; 
    padding: 20px;
    text-align: center; 
    background-color: white; 
}

.hotelOwnerOverViewThisMonthItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    width: 180px; 
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.hotelOwnerContainerSpilt{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hotelOwnerOverViewInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.hotelOwnerInfoNumber {
    font-size: 28px;
    font-weight: bold;
    margin: 10px 0;
    color: #333;
}

.hotelOwnerInfoText {
    font-size: 16px;
    color: #555;
}

.hotelOwnerOverViewNumber {
    font-size: 18px;
    font-weight: bold;
    color: #28a745; 
}